<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.medina.juanantonio.watcher">

    <!-- Access internet-based media -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Touch screen is not required -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- This is an Android TV app only (not intended for mobile) -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".WatcherApplication"
        android:allowBackup="true"
        android:banner="@mipmap/ic_app_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Watcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="true">

            <!-- Used as the main entry point from the leanback launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <!-- Used as an entry point from global search and Google Assistant -->
            <intent-filter>
                <!-- Used to launch our content directly from home screen launcher or Assistant -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Used to query our content from other applications, such as Google Assistant -->
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- Additional settings for searchable content -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".features.dialog.DialogActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- Content provider used to expose our metadata database to other apps like Assistant -->
        <provider
            android:name=".data.providers.SearchResultsProvider"
            android:authorities="@string/authority"
            android:exported="true"
            android:permission="${applicationId}.MEDIA"
            tools:ignore="ExportedContentProvider">
            <path-permission
                android:pathPrefix="/search"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>
    </application>

</manifest>